<!DOCTYPE html>
<html>
  <head>
    <title>Camify</title>
    <%#<link rel="shortcut icon" href="/assets/images/favicon.ico"/>%>
    <%= favicon_link_tag asset_path('Camify.png') %>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
